<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Portrait : A free and open source systems management software!</title>

    {% load staticfiles %}
    <script src="{%  static "js/jquery.min.js" %}"></script>
    <script src="{%  static "js/jquery-ui.js" %}"></script>
    <script src="{%  static "js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" href="{%  static "css/jquery-ui.css" %}">
    <link rel="stylesheet" href="{%  static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{%  static "css/p1.css" %}">
</head>

<body>
    <div class="row header" id="header">
        <div class="col-md-4" id="welcome"><img src="{% static "img/portrait_logo.png" %}" style="float: left; margin-left: 15%; margin-right: -35%; margin-top: -2%; width:50px; height:50px;" alt="Portrait"></img>PORTRAIT</div>
        <div class="col-md-4"></div>
        <div class="col-md-4" id="loginuser">{{ request.user }}&nbsp; &nbsp; &nbsp; <a href="http://localhost/logout/" style="color:white;">Logout</a>
        </div>
    </div>
    <script>
        $(function() {
            $("#tabs").tabs();
        });
    </script>

    <div id="tabs">
        <ul style="width:100%; text-align:center;">
            <li style="width:30%;"><a href="#tabs-1">Dashboard</a>
            </li>
            <li style="width:30%;"><a href="#tabs-2">Machines</a>
            </li>
            <li style="width:30%;"><a href="#tabs-3">Running Tasks</a>
            </li>
        </ul>
        <div id="tabs-1">

        </div>

        <div id="tabs-2" style="display:flex;">
            <div class="sidebar">
                <ul id="nav1">
                    <li> <a class="sidebar_element" id="sidebar_am" href="http://localhost/all_minions/">All minions</a>
                    </li>
                    <li> <a class="sidebar_element" id="sidebar_pr" href="http://localhost/pending_reg/">View Pending Registrations</a>
                    </li>
                </ul>
            </div>
            <script>
                $('a.sidebar_element').click(function(event) {
                    event.preventDefault();
                    if ($(this).attr('href') == "http://localhost/pending_reg/") {
                        $('#disp_area').html("<b>Pending Registrations</b>");
                        $('#disp_area').append("<br>" + "&nbsp;&nbsp;" + 
                                "<table id='minion-table'>" + 
                                "<tr>" + 
                                "<th class='tab-head'>Request from </th>" + 
                                "<th class='tab-head'></th>" + 
                                "</tr>" + 
                                "</table>");
                    } else if ($(this).attr('href') == "http://localhost/all_minions/") {
                        $('#disp_area').html("<b>All Minions</b>");
                        $('#disp_area').append("<br>" + "&nbsp;&nbsp;" + 
                                "<table id='minion-table'>" + 
                                "<tr>" + 
                                "<th class='tab-head'>Minion name</th>" + 
                                "<th>OS</th>" + 
                                "<th></th>" + 
                                "<th>IP Address</th>" + 
                                "<th class='tab-head'>Status</th>" + 
                                "</tr>" + 
                                "</table>");
                    } else if ($(this).attr('href') == "http://localhost/connect/") {
                        $('#disp_area').html("<b>Select task to apply from left pane</b>");
                    }
                    $('#disp_area').css({
                        'left': '25%',
                        'width': '75%',
                        'font-size': '100%',
                        'text-align': 'center'
                    });
                    $.ajax({
                        url: $(this).attr('href'),
                        success: function(response) {
                            if (response.status == '-1') {
                                window.location.replace(response.url);
                            } else {
                                var element;
                                var selected_ids = Array();
                                var checkbox_cnt_pr = 0;
                                var checkbox_cnt_am = 0;
                                if (this.url == "http://localhost/all_minions/") {
                                    for (element in response) {
                                        // The table in all_minions section
                                        // Note that the third column is an empty one 
                                        // with just three blank spaces present
                                        // This is deliberately done to increase gap between 
                                        // the columns adjoining to it
                                        $('#minion-table').append("<tr>" + 
                                                "<td id='minnameam" + checkbox_cnt_am + "'>" + element + "</td>" + 
                                                "<td>" + response[element][0] + "</td>" +
                                                "<td>" + "&nbsp;&nbsp;&nbsp;" + "</td>" +
                                                "<td>" + response[element][1] + "</td>" + 
                                                "<td class=" + response[element][2] + ">" + response[element][2] + "</td>" + 
                                                "<td style='padding: 5px;'>" + "<input type='checkbox' id=chkboxam" + checkbox_cnt_am + ">" + "</td>" + 
                                                "</tr>");
                                        checkbox_cnt_am += 1;
                                    }
                                    $('#nav2').html("<li id='actbar1'>" + 
                                            "<a id='am' class='ar' href='http://localhost/delete_minions/'>Delete</a>" + 
                                            "</li>");
                                    $('#nav2').append("<li id='actbar2>'" +  
                                            "<a class='sidebar_element' href='http://localhost/connect/'>Connect To Selected </a>" + 
                                            "</li>");
                                }
                                //Append checkboxes in front of minion names
                                else if (this.url == "http://localhost/pending_reg/") {
                                    for (element in response) {
                                        $('#minion-table').append("<tr>" + 
                                                "<td id='minnamepr" + checkbox_cnt_pr + "'>" + response[element] + "</td>" + 
                                                "<td style='padding: 5px;'>" + "<input type='checkbox' id=chkboxpr" + checkbox_cnt_pr + ">" + "</td>" + 
                                                "</tr>");
                                        checkbox_cnt_pr += 1;
                                    }
                                    $('#nav2').html("<li id='actbar1'>" + 
                                            "<a id='pr' class='ar' href='http://localhost/accept/'>Accept</a>" + 
                                            "</li>");
                                    $('#nav2').append("<li id='actbar2'>" + 
                                            "<a id='pr' class='ar' href='http://localhost/reject/'>Reject</a>" + 
                                            "</li>");
                                }

                                function get_selected_ids(id) {
                                    var i = 0;
                                    var checkbox_cnt;
                                    if (id == "am") {
                                        checkbox_cnt = checkbox_cnt_am;
                                    } else {
                                        checkbox_cnt = checkbox_cnt_pr;
                                    }
                                    for (i = 0; i < checkbox_cnt; i++) {
                                        console.log('chkbox' + id + i);
                                        if (document.getElementById('chkbox' + id + i).checked) {
                                            selected_ids.push($('#minname' + id + i).text());
                                        }
                                    }
                                    return selected_ids;
                                }
                                $('a.ar').click(function(event) {
                                    event.preventDefault();
                                    console.log("this.attr(url) = " + $(this).attr('href'));
                                    $.ajax({
                                        url: $(this).attr('href'),
                                        type: "GET",
                                        data: {
                                            'ids': JSON.stringify(get_selected_ids($(this).attr('id'))),
                                        },
                                        contentType: "application/json; charset=utf-8",
                                        success: function(response) {
                                            window.location.replace("http://localhost/#tabs-2");
                                            console.log("this.url = " + this.url);
                                            if (this.url.startsWith("http://localhost/delete_minions/")) {
                                                $('#sidebar_am').click();
                                                checkbox_cnt_am -= selected_ids.length;
                                            } else {
                                                $('#sidebar_pr').click();
                                                checkbox_cnt_pr -= selected_ids.length;
                                            }
                                        }
                                    });
                                });
                            }
                            $('#tabs-2').css({
                                'min-height': '300px'
                            });
                        }
                    });
                    return false; //for good measure
                });
            </script>
            <div class="row" id="disp_area">
            &nbsp; &nbsp; &nbsp; &nbsp;
            </div>
            <div class="actionbar">
                <ul id="nav2">
                </ul>
            </div>
            
        </div>

        <div id="tabs-3">
        </div>

        <div class="modal"> </div>
        <script>
            $body = $("body");
            $(document).on({
                ajaxStart: function() {
                    $body.addClass("loading");
                },
                ajaxStop: function() {
                    $body.removeClass("loading");
                }
            });
        </script>
</body>

</html>
