        #tabs .ui-tabs-active {
            background: #966220;
        }
        #header {
            position: relative;
            height: 70px;
            width: 100%;
            background: #b8b894;
            /*Shortlisted color : 966220, 85144b*/
        }
        #welcome {
            margin-top: 18px;
            text-align: center;
            color: white;
            font-size: 165%;
        }
        #loginuser {
            margin-top: 25px;
            text-align: center;
            color: white;
            font-size: 100%;
        }
        body {
            margin: 0;
            font-family: 'Exo', sans-serif;
            font-weight: 500;
        }
        .refresh {
            width: 30px;
            height: 30px;
        }
        .sidebar {
            left: 0%;
            width: 25%;
            height: 100%;
        }
        .disp-area {
            left: 25%;
            width: 75%;
            height: 100%;
            top: 45%;;
        }
        ul {
            list-style-type: '-';
            padding: 10px 0px 10px 10px;
        }
        ul#nav2 li {
            border-radius: 15px;
            border-color: green;
            border-collapse: separate;
            border-style: solid;
            border-width: 1px;
            text-align: center;
            text-color: black;
            font-size: 95%;
            padding: 10px;
            background: #9dff8c;
        }
        .actionbar {
            left: 83%;
            width: 20%;
            height: 100%;
            
        }
        
        #minion-table {
            border-radius: 15px;
            border-color: orange;
            border-collapse: separate;
            border-style: solid;
            border-width: 1px;
            position: absolute;
            left: 20%;
            padding: 5px;
            background: #fff693;
            -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
            -moz-animation: fadein 4s; /* Firefox < 16 */
            -ms-animation: fadein 2s; /* Internet Explorer */
            -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 4s;
        }


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from    { opacity: 0; }
    to      { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


        .tab-head {
            padding: 8px;
        }
        .Up {
            color: green;
            font-weight: bold;
        }
        .Down {
            color: red;
            font-weight: bold;
        }
        .modal {
            display: none;
            position: fixed;
            z-index: 1000;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba( 255, 255, 255, .8) url("/static/img/ajax-loader.gif") 50% 50% no-repeat;
        }
        body.loading {
            overflow: hidden;
            /* Anytime the body has the loading class, o
								   modal element will be visible */
        }
        body.loading .modal {
            display: block;
        }

	 /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 40px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#rightarea {
    transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
