<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Portrait : A free and open source system's management software</title> 

  {% load staticfiles %}

  <link rel="stylesheet" href="{% static "css/login_styles.css" %}">
  <script src="{% static "js/prefix.js" %}"></script>
  <script src="{% static "js/jquery.js" %}"></script>
</head>

<body>
    <div class="body"></div>
    <div class="grad"></div>
	<div class="header">
        <div style="font-size: 400%;"><b>PORTRAIT</b></span></div><br>
    </div>
    <div class="header-note" style="font-size: 175%;">A completely free systems management software</div>
	<br>
	<div class="login"> 
		<form method='post' id="loginform">
            {% csrf_token %}
		    <input type="text" placeholder="username" id="user"><br>
			<input type="password" placeholder="password" id="pwd"><br>
			<input type="submit" value="Login" form="loginform">
            <b><div id="div1" style="color:red;"></div></b>
        </form>
	</div>
    <script>
            var u = document.getElementById('user');
            var p = document.getElementById('pwd');
            $(document).ready(function() {
                $('#loginform').submit(function(event) {
        	        $.ajax({
                        type:"POST",
                        url:"http://localhost/login/",
                        data: {
                            'user': u.value,
                            'pwd' : p.value,
                            'csrfmiddlewaretoken': '{{ csrf_token}}',                           
                        },
                        success: function(data){
                 		    if(data.status == '1') {
                    	        $('#div1').html(data.message) 
                 		    }
                            else if(data.status == '0') {
                    	        window.location.replace(data.url)
                 		    }
                        }
                    });
                    return false;
                });
            });
    </script>
</body>

</html>
